/***** TITULO LOGO***********/
.titulo {
    background-color: #1F4D70;
}

.img-logo-mobile{
    margin: auto;
    width: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-logo-mobile img{
    margin: auto;
    width: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-logo{
    margin: auto;
    width: 364px;
    height: 128px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-logo img{
    margin: auto;
    width: 100%;
}

/***********************************/

.margem-top-15px{
    margin-top: 15px; 
}

.botoes {
    margin-left: -15px;
}

.botoes a{
    color: rgba(255, 255, 255, 1.0);
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 15px;
    margin-right: 15px;
}
.botao-buscar-mobile{
 /* margin-left: 15px;*/
 width: auto;

}

.pesquisar input{
    margin-bottom: 15px;
}

.pesquisar button{
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;

}

.pesquisaBotoes {
    background-color: #fff;
}



/**************** menu lateral **************************/
.menu-lateral {
    padding-top: 10px;
    padding-bottom: 10px;

}

.menu-lateral p{
    text-align: center;
    font-weight: 600;
}

/* Ajustes para o menu lateral em dispositivos mobile*/
.menu-lateral-mobile li a:hover{
    transition: .2s;
    background: rgba(2, 117, 216, 0);
    -webkit-transform: scale(1.05);
    border-radius: 5px;
    background: rgba(2, 117, 216, 0.3);
}
/**********************************/

/************* CONTEUDO **************/
.conteudo p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 600;
    color: #666;
    padding: -10px;
}
/***********************************/

.destaque1 {
    background-color: rgb(255, 0, 0);
}
.destaque2 {
    background-color: rgb(0, 255, 0);
}
.destaque3 {
    background-color: rgb(0, 0, 255);
}

/* Imagens do menu com 155px*/
.figure_115 {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #006699; /*rgba(0,0,0,.4);*/
    height: 115px;
    width: 115px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}


.figure_115 img{
    width: 100%;
    height: 100%;
}

.figure_115 figcaption{
   text-transform: uppercase;
   text-align: center;
   font-weight: bolder;
}
/**********************************/

/* Imagens do menu com 32px*/
.figure_32 div{
    height: 32px;
    width: 100px;
    margin: auto;
    margin: 5px 0px;

}

.figure_32 img{
    height: 32px;
    width: 32px;
    vertical-align: -4px;
}

.figure_32 span{
   text-transform: uppercase;
   font-size:  14pt;
   font-weight: bolder;
   margin-left: 5px;
}
/************************************/


/**************** CONTEUDO **********************/
.conteudo-h1{
    margin-left: 15px;
}

.conteudo-h1 h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: 800;
    color: #1B1B1E;
    margin-left: 15px;
}

.titulo-painel h2{
 font-family: 'Open Sans', sans-serif;
 text-transform: uppercase;
 font-size: 14pt;
 font-weight: 800;
 color: #373F51;
 line-height: 0pt;

}
/*************************************/

/********** Formatação Links Editar e Excluir ***********/

.editar-link a{
   font-family: 'Open Sans', sans-serif;
   color: #ff9800;
   font-size: 11pt;
   font-weight: 700;
}

.editar-link a:hover{
   font-family: 'Open Sans', sans-serif;
   color: #ffc107;
   font-size: 11pt;
   font-weight: 700;
}

.excluir-link a{
   font-family: 'Open Sans', sans-serif;
   color: #d50000;
   font-size: 11pt;
   font-weight: 700;
}

.excluir-link a:hover{
   font-family: 'Open Sans', sans-serif;
   color: #f44336;
   font-size: 11pt;
   font-weight: 700;
}
/*******************************************************/

.sombra {
    box-shadow: 0px 0px 8px #333;
}



/* Rodapé */
.rodape {
 background-color: #0275D8;
 margin-top: 15px;
 padding: 5px;
}

.rodape p{

 text-align: center;
 font-size: 1.1em;
 color: #fff;
 font-weight: 400;
}
/********************/



/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
